:root {
  --bg-button: #f0f0f0;
  --border-button: solid 1px #888;
}

.button {
  font-size: 1.4em;
  background-color: var(--bg-button);
  border: none;
  border-right: var(--border-button);
  border-bottom: var(--border-button);
  outline: none;
}

.button:active {
  background-color: #ccc;
}

.button.duo {
  grid-column: span 2;
}

.button.three {
  grid-column: span 3;
}

.button.operator {
  background-color: #b3a6d3;
  color: #ffffff;
}
.button.operator:active {
  background-color: #8571b8;
}
